.container {
	padding: 20px 10%;
	min-height: 100%;
	width: 100%;
	margin: 56px 0 56px 0;
	span {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-bottom: 20px;
	}
	article {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		&:hover {
			cursor: pointer;
		}
	}
	footer {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		button {
			float: right;
			margin: 0px 10px;
		}
	}
}

h1 {
	color: black;
}